.article__para {
  margin: 0;
  padding: 35px 0 0;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  color: #5a636c;
}

@media screen and (max-width: 768px) {
  .article__para {
    font-size: 20px;
    text-align: center;
  }
}