.hero {
  margin: 0;
  padding: 0;
  min-height: 640px;
  background: #3dbeff;
  background-image: url(../../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: 951px auto;
  background-position: center bottom;
}