.hero {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 552px;
  background: #3dbeff;
  background-image: url(../../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: 951px auto;
  background-position: center bottom;
}

@media screen and (max-width: 560px) {
  .hero {
    background-image: url(../../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
}