.article__link {
  margin: 44px 0 0;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-family: 'Fraunces', serif;
  font-size: 24px;
  line-height: 1.242;
  font-weight: 400;
}

.article__link:hover {
  cursor: pointer;
}